# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea
.envrc

# Build
build
dist

# Testing
/coverage.*.txt
/data
__pycache__
*.pyc
coverage.txt
/coverage

# Others
frontend/node_modules
frontend/dist
frontend/.cache
**/*.bak

# Pystarport
/bot.yaml
/bot.*.yaml
/config.yaml
